@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    font-family: 'Poppins';
    font-style: normal;
    width: 100vh;
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vh;
}
.icon-title{
    width: 78px;
    height: 78px;

}

h3{
    font-weight: 600;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -1px;
    color: #000000;

}

label{
    font-weight: 500;
    font-size: 16px;
    line-height: 112%;
    letter-spacing: -1px;
    color: #89C400;

}

input{
    width: 287.75px;
    height: 48px;
    left: 0.88px;
    top: 21.5px;

    background: rgba(137, 196, 0, 0.1);
    /* Color/Secondary Color */

    border: 1px solid #89C400;
    border-radius: 53px;
}

.entrar{
    padding: 16px 34px;

    width: 113px;
    height: 50px;

    /* Color/Secondary Color */

    background: #89C400;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 112%;
    /* identical to box height, or 18px */

    letter-spacing: -1px;

    /* Escala/Color 600 */

    color: #F1F0F5;
}

.cadastro{
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    /* identical to box height, or 18px */

    letter-spacing: -1px;

    /* Escala/Color 400 */

    color: #7A7786;
    border: none;
    background: none;
}